<% include partials/header %>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Computer's not Working?</h1>
                <p>Is your Computer's running slow or not quite the same when you bought it the first time! If yes we can surely help you. Give us a call</p>
            <a href="#" class="btn btn-primary btn-lg">Read More</a>
            </div>

            <div class="col-md-5">
                <img src="/images/mouse.png">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h4>Hardware Problems</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, quod iusto? Quae suscipit corporis itaque alias aliquid praesentium sed. Assumenda ut eligendi hic, perferendis laboriosam debitis aperiam repellendus dicta in.
            Molestiae, quisquam accusamus, pariatur, ducimus neque libero numquam consequatur sit voluptate enim incidunt rerum labore expedita earum facilis necessitatibus reiciendis est. Voluptas minus veritatis maiores repellat ipsum ipsam in eum.
            Aspernatur deserunt nam sequi harum, et eos impedit architecto sunt fuga quos ipsum perspiciatis sapiente asperiores consectetur quo. Unde recusandae commodi non, obcaecati sunt esse harum blanditiis? Obcaecati, illo temporibus!
            Obcaecati eligendi sapiente asperiores! Ipsam ad vitae quasi maxime dolorum accusamus explicabo, incidunt eveniet, consequatur nobis accusantium libero nisi modi qui necessitatibus cupiditate magni doloremque quaerat, nulla iure voluptatibus excepturi.
            Itaque numquam quos fuga cupiditate labore iure doloremque sint tenetur sequi! At aliquid magni explicabo architecto odio sint soluta, ducimus nesciunt nihil saepe voluptate impedit, possimus rerum qui itaque illum.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
        <h4>Software Problems</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellat cum quidem accusamus velit minus vel, soluta rem doloremque autem laborum, rerum ut id mollitia totam. Placeat obcaecati beatae fugit.
        Corrupti dignissimos labore quos dolores, laudantium fugiat maxime in? Enim autem necessitatibus atque mollitia error. Nemo, omnis reiciendis. Dignissimos, saepe. Similique repudiandae dolorum perferendis omnis earum animi corporis libero alias.
        Quia eos aliquid vel aliquam rerum saepe, amet quas corporis nemo, voluptatibus consequuntur neque architecto ex consectetur sapiente dolorem rem mollitia culpa voluptatum temporibus qui fuga similique? Vitae, quae cum.
        Corporis, repellendus unde qui expedita omnis quam blanditiis? Tenetur, distinctio eum excepturi deserunt repellendus, soluta hic culpa odit facilis ut vero quaerat, in temporibus exercitationem eaque id dignissimos iusto sit?
        Explicabo vel asperiores, iste facilis neque enim culpa fuga? Distinctio explicabo dolorum accusamus nobis quo optio repellat ratione quaerat, alias officia ipsum quae unde consectetur esse doloribus porro cum officiis.</p>
    </div>
</div>

    <div class="col-md-4">
        <div class="well">
        <h4>PC TuneUp</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam repellat cum quidem accusamus velit minus vel, soluta rem doloremque autem laborum, rerum ut id mollitia totam. Placeat obcaecati beatae fugit.
        Corrupti dignissimos labore quos dolores, laudantium fugiat maxime in? Enim autem necessitatibus atque mollitia error. Nemo, omnis reiciendis. Dignissimos, saepe. Similique repudiandae dolorum perferendis omnis earum animi corporis libero alias.
        Quia eos aliquid vel aliquam rerum saepe, amet quas corporis nemo, voluptatibus consequuntur neque architecto ex consectetur sapiente dolorem rem mollitia culpa voluptatum temporibus qui fuga similique? Vitae, quae cum.
        Corporis, repellendus unde qui expedita omnis quam blanditiis? Tenetur, distinctio eum excepturi deserunt repellendus, soluta hic culpa odit facilis ut vero quaerat, in temporibus exercitationem eaque id dignissimos iusto sit?
        Explicabo vel asperiores, iste facilis neque enim culpa fuga? Distinctio explicabo dolorum accusamus nobis quo optio repellat ratione quaerat, alias officia ipsum quae unde consectetur esse doloribus porro cum officiis.</p>
    </div>
</div>
</div>
<% include partials/footer %>
